@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --player-height: 90px;
  --player-height-sm: 70px;
  --header-height: 70px;
  --playlist-right-width: 330px;
  --sidebar-width-sm: 70px;
  --sidebar-width: 240px;
  --search-input-width: 400px;
  --margin-main: 49px;
  --margin-main-sm: 29px;
  --main-padding: 59px;
  --header-margin: 70px;
}

@layer base {
  input[type='range'] {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    background-image: linear-gradient(#26ff00, #0008ff);
    background-size: 0% 100%;
    background-repeat: no-repeat;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: linear-gradient(#26ff00, #0008ff);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
@layer utilities {
  /* Scroll thumb styles */
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #696981;
    border-radius: 1rem;
  }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: #131314;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9b76cd;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Scroll track styles (Background) */
  .scrollbar::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 4px;
  }
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: #131314;
  }
  /* Swipper */
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Banner Swipper */
  .bannerSwiper > .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .bannerSwiper > .swiper-button-next {
    display: none;
  }

  /*liveSwiper */
  .liveSwiper {
    width: 200px;
    padding: 0 0;
  }
  .liveSwiper > .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .liveSwiper > .swiper-button-next {
    display: none;
  }

  /* artist swiper */
  .artistSwiper {
    width: 100%;
    padding: 0 0;
  }
  .artistSwiper > .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  /* Event swiper */
  .eventSwiper {
    width: 100%;
    padding: 0 0;
  }
  .eventSwiper > .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  /* karaokeListSwiper */
  .karaokeListSwiper {
    width: 200px;
    padding: 0 0;
  }
  .karaokeListSwiper > .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-button-next-karaoke,
  .swiper-button-prev-karaoke {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .swiper-button-prev-karaoke {
    top: 30%;
    left: 0px;
    transform: translateX(50%);
  }
  .swiper-button-next-karaoke {
    top: 30%;
    right: 0;
    transform: translateX(-50%);
  }
  .swiper-button-prev-karaoke:hover,
  .swiper-button-next-karaoke:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
